@using Core.Models

<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">@Item.Titel</h5>
        <p class="card-text">@Item.Description</p>
        <p><strong>Pris:</strong> @Item.pris kr.</p>
        <p><strong>Kategori:</strong> @Item.kategori</p>
        <span class="badge bg-success">@Item.status</span>
    </div>
</div>

@code {
    [Parameter]
    public annoncer Item { get; set; }
}